.one {
  position: relative;
}

.one p {
  position: absolute;
  top: 50%;
  left: 55%;
  color: white;
  font-size:280%;
  opacity: 90%;
  font-family: sans-serif;
}

.one img {
  width: 100%;
  margin: 0;
}

.two img {
  width: 100%;
  padding: 30;
}


*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
}

ul.b{
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin-top: 25px;
  margin-bottom:0px;
  background-color: white;
}


li a{
  float: left;
  color: black;
  text-align: center;
  padding: 15px 35PX;
  background-color: ;
  text-decoration: none;
}

li a:hover:not(.active) {
	color: #B4B4B4;
}

 ul.c{
   display: list-item;
   list-style: none;
   text-align: left;
   padding-left: 35px;
 }

 ul.d{
   list-style: none;
   }

#t{
  text-align: center;
  padding: 30px;
  padding-top: 120px;
}

h1{
  font-size: 40pX;
}

h1,table{
  padding: 15px;
  padding-left: 35px;
}

table.tuyomi{
  width:100%;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 50px;
  padding-top: 80px;
}

table.tuyomi th{
  font-style:normal;
  font-size: 30px;
  padding: 30px;
}

th{
  font-size: 20px;
  padding-right: 10px;
}

footer{
  float:right;
}
footer p{
  font-size: 20px;
}
